* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    /* ie 6/7 */
}

.left-container {
    float: left;
    width: 80%;
    background-color: gray;
}

.right-container {
    float: right;
    width: 20%;
    background-color: black;
    color: white;
}

.hidden {
    display: none;
}

.container-fluid {
    max-width: 800px;
}
