* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    /* ie 6/7 */
}

.left-container {
    float: left;
}

.right-container {
    float: right;
}

.streamer-list li:nth-child(odd) {
    background-color: gray;
}

.hidden {
    display: none;
}
